@model ArtistsMVCDemo.Dtos.MessageDto
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    @section FullWidth{
        <div id="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12579.398108262125!2d23.7323267!3d37.9806408!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae9a4f85e0cc2020!2sPeopleCert%20Education!5e0!3m2!1sel!2sgr!4v1634669234046!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    }

    <div class="col-md-6">
        <h2>Στοιχεία Επικοινωνίας</h2>
        <ul class="list-unstyled">
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <span>
                    Πανεπιστημίου 39, 1ος όροφος,
                    Τ.Κ 10565, Αθήνα
                </span>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <span>
                    +30 210 37 29 070
                </span>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <span>
                    hello@peoplecert.org
                </span>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Φόρμα Επικοινωνίας</h2>

        <div class="success-message text-center">
            <div id="suc-message" style="display:none">
                <img src="~/img/success.svg" style="width:100px" />
                <p>Το μήνυμα σας έχει σταλεί επιτυχώς. Θα επικοινωνήσουμε μαζί σας το συντομότερο</p>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sender, new { @class = "col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sender, new { htmlAttributes = new { @class = "form-control", @id = "contactName" } })
                            @Html.ValidationMessageFor(model => model.Sender, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "contactEmail" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile, new { @class = "col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @id = "contactPhone" } })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, new { @class = "col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Content", new { rows=10, columns = 40, @class = "form-control", @id = "message"})
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    
    <script>

        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault();
                $("form").css('opacity', '0.3');

                $.ajax({
                    url: "/api/messages",
                    method: "POST",
                    data: {
                        Sender: $("#contactName").val(),
                        Email: $("#contactEmail").val(),
                        Mobile: $("#contactPhone").val(),
                        Content: $("#message").val(),
                        IsRead: false
                    }
                }).done(function (data) {
                    //console.log(data);
                    setTimeout(function () {
                        $("form").css('opacity', 0);
                        $("#suc-message").show();
                    },2000)

                }).fail(function (error) {
                    $("form").css('opacity', 0);
                    console.log(error);
                });
            });
        });
    </script>    
}