<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>

<li>@Html.ActionLink("Artists", "Index", "Artists")</li>
<li>@Html.ActionLink("Albums", "Index", "Albums")</li>
<li>@Html.ActionLink("Songs", "Index", "Songs")</li>